<div [style.height]="'75%'" class="d-flex justify-content-center align-items-center mt-5">

  <mat-card>
    <h2 class="text-center">Reset your password</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" [style.text-align]="'center'" class="m-4">

      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input formControlName="email" matInput type="email">
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.errors?.email">Enter a valid email address</mat-error>
      </mat-form-field>

      <br>

      <mat-card-actions>

        <div class="button-container">
          <div *ngIf="submitted" class="spinner-container">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
          <button [disabled]="submitted"
                  color="primary"
                  mat-raised-button>Submit
          </button>
        </div>
        <br><br>
        <a mat-button routerLink="/forgot-password">Forgot Password?</a>
        <a mat-button routerLink="/login">Login Instead?</a>
      </mat-card-actions>
    </form>

  </mat-card>

</div>
