.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-hidden {
  display: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-button {
  vertical-align: center;
  font-size: 16px;
}

.logo {
  width: 80px;
}

.nav-progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
